*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Andada", "Roboto Slab" , serif;
    background: #fff url(../imagens/fundo.png) repeat-x top left;
}

#container {
    width: 700px;
    margin: 0 auto;
    
}

#topo{
    height: 150px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
    border: 1px solid red;
}