body{
    background-color: #d2d2c0;
    background-image: url(imagens/fundo.png);
    font-family: Tahoma, Helvetica, sans-serif;
}

#container {
    width: 900px;
    margin:auto;
}

#conteudo {
    background-color: #ffffe6;
    padding:3px 10px 3px 10px;
}