@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@600;700;800;900&display=swap');

html, body, #principal{
    height: 100vh;
    overflow-x: hidden;
}

body {
    font-family: 'DM Sans', Helvetica, sans-serif; 
    background:url(../imagens/capa.png), url(../imagens/ruido.png), linear-gradient(50deg,#ff4169,#7c26f8);
    background-attachment: fixed;
    
}


/* *** Formatações LINKS *** */

.navbar-dark .navbar-nav .nav-link, .footer-list-link, .btn-footer {
    color: white;
    font-size: 1.1em;
}
.navbar-dark .navbar-nav .nav-link:hover, .footer-list-link:hover, .btn-footer:hover {
    color: #9bf0e1;
}

/* *** Tipografia *** */
h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.03em;
}
h2 {
    font-size: 3em;
    font-weight: 700;
}
h3 {
    font-size: 2em;
    font-weight: 700;
    margin: 10px 0;
}
p{
    font-size: 1.2em;
    margin-bottom: 25px;
}

/* *** Espaçamentos *** */
.caixas{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* *** Header Navbar*** */
.navbar-transparencia {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px 0px;
}
.nav-item-divisor{
    background: #fff;
    height: 2px;
    width: 20px;
    margin: 12px 0px;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem;
}

/* *** Conteudo Principal *** */

.banner-principal{
    color: white;
    font-weight:800; 
    margin-bottom: 40px;
}
.btn-custom{
    color: white;
    font-weight: 500;
    border-radius: 500px;
    -webkit-border-radius:500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: background 0.4s, border 0.4s, color 0.4s;
}
.btn-roxo{
    background: #7c25f8;
    border: 2px solid #7c25f8;
}
.btn-roxo:hover{
    color: white;
    background: #5d0bda;
    border: 2px solid #5d0bda;
}
.btn-branco{
    border: 2px solid white;
}
.btn-branco:hover{
    color: black;
    background: white;
}
.btn-check:focus+.btn, .btn:focus{
    box-shadow: none;
}
.btn-group-lg>.btn, .btn-lg{
    font-size: 0.8em;
    margin: 5px 3px;
}
#carouselBannerPrincipal a.btn-branco span {
    padding-left: 5px;
}
.carousel-control-next, .carousel-control-prev{
    width: 5%;
}

/* *** Recursos *** */

#recursos {
    background: #fff;
}
#recursos .imagens-recursos img{
    margin:12px 0;
}

#recursos h2, #recursos h3 {
    color: #7C25F8;
}

/* *** Facilidades *** */
#facilidades h2{
    color: white;
}
#facilidades h3{
    color: #9bf0e1;
}
#facilidades p{
    color: #fff;
}
.rotacionar{       
        padding-left: 30px;
        
        transform: rotate(30deg) translate(30px, -40px) scale(0.95);
        -webkit-transform: rotate(30deg) translate(30px, -40px) scale(0.95);
        -moz-transform: rotate(30deg) translate(30px, -40px) scale(0.95);
}

/* *** Footer *** */
#footer{
    background: #000;
    position: relative;
    padding-top: 40px;
}
.footer-nav h4{
    color: #828486ef;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: -0.02em;
    padding: 8px;
    margin: 0;
}
.footer-nav ul{
    list-style: none;
    padding-left: 1.1em;
    font-size: 0.8em;
}
.footer-nav li{
    padding-bottom: 8px;
}
.footer-nav a{
    text-decoration: none;
}
.btn-footer{
    background: #202020;
    font-size: 2.2em;
    width: 62px;
    height: 62px;
    margin: 0 6px;
    border-radius: 50%;
    display: inline-flex;   
    justify-content: center;
    align-items: center;
}

@media (min-width: 425px){
    .banner-principal{
        font-size: 2em;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .btn-group-lg>.btn, .btn-lg{
        font-size: 1em;
    } 
    .banner-principal{        
        font-size: 3em;          
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .banner-principal{        
        font-size: 3.7em;          
    }
    .btn-group-lg>.btn, .btn-lg{
        font-size: 1.1em;
        margin: 0;
    } 
    .fa-2x{
        font-size: 3em;
    }
}

/*  Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .nav-item-divisor {
        height: auto;
        width: 2px;
        margin: 12px 15px;
    }
    .banner-principal{
        font-size: 4.7em;
    }
    .btn-group-lg>.btn, .btn-lg{
        font-size: 1.25em;
        margin: 0 5px;
    } 
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  
    .banner-principal{        
        font-size: 6em;          
    }
}
   
/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1210px;
    }
}