@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@600;700;800;900&display=swap');

html, body, #principal{
    height: 100vh;
    overflow-x: hidden;
}

body {
    font-family: 'DM Sans', Helvetica, sans-serif; 
    font-weight: 500;
    background:url(../imagens/capa.png), url(../imagens/ruido.png), linear-gradient(50deg,#ff4169,#7c26f8);
    background-attachment: fixed;
    
}

/* *** Header Navbar*** */
.navbar-transparencia {
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 0px;
}
.nav-item-divisor {
    width: 1px;
    background: #fff;
    margin: 12px 15px;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

/* *** Tipografia *** */
h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.03em;
}
h2 {
    font-size: 3em;
    font-weight: 700;
}
h3 {
    font-size: 2em;
    font-weight: 700;
    margin: 10px 0;
}
p{
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 25px;
}

/* *** Conteudo Principal *** */

.banner-principal{
    color: white;
    font-weight:800;
    font-size: 6em;  
    margin-bottom: 40px;
}
.btn-custom{
    color: white;
    font-weight: 500;
    border-radius: 500px;
    -webkit-border-radius:500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: background 0.4s, border 0.4s, color 0.4s;
}
.btn-roxo{
    background: #7c25f8;
    border: 2px solid #7c25f8;
}
.btn-roxo:hover{
    color: white;
    background: #5d0bda;
    border: 2px solid #5d0bda;
}
.btn-branco{
    border: 2px solid white;
}
.btn-branco:hover{
    color: black;
    background: white;
}
.btn-check:focus+.btn, .btn:focus{
    box-shadow: none;
}
#carouselBannerPrincipal a.btn-branco span {
    padding-left: 5px;
}
.carousel-control-next, .carousel-control-prev{
    width: 5%;
}

/* *** Espaçamentos recursos e facilidades *** */
.caixas{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* *** Recursos *** */
#recursos {
    background: #fff;
}
#recursos .imagens-recursos img{
    padding: 12px; 
}
#recursos h2, #recursos h3 {
    color: #7C25F8;
}

/* *** Facilidades *** */
#facilidades h2{
    color: white;
}
#facilidades h3{
    color: #9bf0e1;
}
#facilidades p{
    color: #fff;
}
.rotacionar{
    
    padding: 10px 15px;
    transform: rotate(30deg) translate(-10px, -70px) scale(0.85,0.85);
    -webkit-transform: rotate(30deg) translate(-10px, -70px) scale(0.85,0.85);
    -moz-transform: rotate(30deg) translate(-10px, -70px) scale(0.85,0.85);
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { }

/*  Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {  }

/* X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {  }
   
/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {  }