@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* Estrutura do site */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family:'Montserrat', Helvetica, 'Trebuchet MS', sans-serif;
    background: #fff url(../imagens/bg.png);
    margin: 15px;
}
#container {
    background: #ede9cc url(../imagens/bg-container.png) top center repeat-y;    
    margin: 0px auto;
    min-width: 740px;
    max-width: 1185px;
}
ul{
    list-style: none; 
}
/* ***Formatações topo*** */
#topo{
    background: #D9CD91;
    position: relative;
    height: 15.6em;
    min-height: 250px;
}

/* ***Formatações Logo*** */
#area-logo {
    background: url(../imagens/topo-imagem-principal.png) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;  
}
.logo{
    background: url(../imagens/logo.png) no-repeat;
    text-indent: -30000px;
    margin: 20px 0;
    height: 151px;    
}

/* ***Formatações Menus*** */
#area-menu {
    background: url(../imagens/topo-imagem-lateral.png);
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 250px;
}
 a {
    text-decoration: none;
}
#conteudo-menu{
    margin-left: 85px;
    margin-right: 10px;
    padding-top: 15px;
}
#menu-cidades {
    border-top:1px solid #b5ab56;
    border-bottom:1px solid #b5ab56;
    padding: 5px 0px 5px 0px;
    font-size: 0.7em;
}
#menu-cidades .locais{
    line-height: 2.1em;
    color: #8B8448;   
    font-weight: 500;
    padding-left: 2px;
}
.botao-reserva{
    border:1px outset #b1a661;
    border-radius: 4px;
    margin: 0px 0px 0px 28px;
    padding: 5px 8px 5px 8px;
    text-transform: uppercase;
    background: #a29750;
    color: #FCF5B0;
    font-weight: 500;
}
#menu-servicos {
    margin-top: 10px;
}
#menu-servicos ul{
    float: left;
}
#menu-servicos ul li {
    margin: 3px 0px 3px 0px;
    padding: 5px 0px 5px 0px;
    font-size: 0.9em; 
}
#menu-servicos ul li a{
    color: #6e672c;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 500;
}
#menu-servicos ul li a:hover{
    background:#FCF5B0;
    padding: 5px;
}
#menu-servicos img{
    float:right;
}

/* ***Formatação Conteúdos*** */
#area-conteudo{
    padding-top: 8px;
    background: url(../imagens/bg-rodape.png) ;
}
.conteudo {
    margin: 0 auto;
    width: 90%;
}

/* **Conteudo principal** */
#conteudo-principal{
    width: 50%;
    float: left;
    background-color: #EFEACC;
    box-shadow: inset 0px 15px 15px -10px rgba(189, 181, 140, 0.98);   
}
#conteudo-principal h2{
    margin: 20px 8px 8px 15px;
    color: #6e672c;
    font-size: 1.3em;
}

/* **Conteudo Lateral** */
#conteudo-lateral{
    width: 50%;
    float: right;
    background-color: #DED9B7;
    box-shadow: inset 0px 15px 15px -10px rgba(189, 181, 140, 0.98);
}
#beneficios {
    margin: 15px auto;
}
#beneficios li{
    border-bottom: 1px solid #f3efcb;
    padding: 8px 4px 8px 8px;
    height: 6em;
}
#beneficios li:hover{
    background: #f6f3d6;
    cursor: pointer;
}
#beneficios li a h3 {
    color: #6e672c;
    font-size: 1em;
    margin-top: 5px;
    margin-right: 4px;
    background: url(../imagens/ornamento.png) no-repeat center right;
} 
#beneficios li a p {
    font-size: 0.8em;
    color: #1b1a0d;
    font-family: 'Trebuchet MS';
} 
.imagens-lateral {
    float: left;
    margin-right: 8px;
}
/* ***Formatações textos*** */
#conteudo-principal p{
    color: #1b1a0d;
    padding: 5px;
    font-family: 'Trebuchet MS';
    font-size: 1em;
}

/* ***Formatação Rodapé*** */
#rodape {
    clear: both;
    background: #fff url(../imagens/bg-rodape.png) repeat-x top left;
    padding: 15px 15px 10px 15px;
    color: #8B8448;
}

/* ***Estilo form*** */
#conteudo-reservas {
    width: 100%;
    float: left;
    background-color: #EFEACC;
    box-shadow: inset 0px 15px 15px -10px rgba(189, 181, 140, 0.98);
    padding-top:20px;
    padding-bottom: 20px;
}
form{
    background: #DED9B7;
    box-shadow: 1px 1px 4px 0px rgba(84, 78, 38, 0.65);
    padding: 5px;
}
fieldset{
    border: none;
    margin: 10px;
}
.form-estilo{
    border-bottom: 1px solid #f3efcb;
    margin: 5px 15px;
    font-size: 0.9em;
    color: #222111;
}
.form-estilo label, .form-estilo input {
    margin: 2px;
}
.form-estilo input{
    border: 1px solid #b1a661;
    border-radius: 3px;
    background: #f0eac7;
    padding: 4px;
    color: #575122;
    font-size: 0.9em;
    font-family: 'Montserrat';
}

 legend:first-child {
    color: #888246;
    font-size: 1.15em;
    margin-bottom: 7px;
}
#reserva-form h2{
    border-bottom: 1px solid #f3efcb;
    color: #6e672c;
    font-size: 1.3em;
}
